!! Copy Paste (instead of middle click)
!!XTerm*selectToClipboard: true
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

!! Appearance
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false

!! Font prefferenes
urxvt.font: xft:DejaVu Sans Mono:pixelsize=14
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=14:weight=bold
urxvt.letterSpace: -1

XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 11

!! Larger history limit
urxvt.saveLines: 1000000

!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/chromium-browser
urxvt.matcher.button: C1

!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

!! Colors use terminal.sexy to configure
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
!*.color0:       #282a2e
!*.color8:       #373b41

! red
!*.color1:       #a54242
!*.color9:       #cc6666

! green
!*.color2:       #13f091
!*.color10:      #81ffc9

! yellow
!*.color3:       #de935f
!*.color11:      #f0c674

! blue
!*.color4:       #5f819d
!*.color12:      #81a2be

! magenta
!*.color5:       #85678f
!*.color13:      #b294bb

! cyan
!*.color6:       #5e8d87
!*.color14:      #8abeb7

! white
!*.color7:       #707880
!*.color15:      #c5c8c6

